.loginPage {
    text-align: center;
    background-image: url("https://znews-photo.zadn.vn/w660/Uploaded/lce_uxlcq/2021_04_08/EV7XLYB335EGFFJVU3IGCOTBCE.jpeg");
    background-size: 100%;
}
.login {
    display: inline-block;
    width: 400px;
    background-color: rgb(249, 155, 49);
    text-align: left;
    margin-top: 200px;
    margin-bottom: 35px;
}
.loginLogo img {
    height: 100px;
    background-image: none;
}
.loginLogo {
    text-align: center;
    margin-bottom: 10px;
}
.loginInput {
    margin-left: 30px;
}
.loginInputDev {
    display: table-row;
    margin-top: 30px;
}
.loginInputDev label {
    display: table-cell;
    text-transform: uppercase;
    width: 50%;
    padding-left: 20px;
}
.loginInputDev input {
    display: table-cell;
    margin-bottom: 30px;
    height: 25px;
    width: 150px;
}
.loginInputDevBtn {
    text-align: center;
    margin-bottom: 30px;
}
.loginInputDevBtn button {
    width: 100px;
    height: 40px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    border-color: rgb(231, 46, 46);
    background-color: rgb(74, 243, 59);
    cursor: pointer;
    margin: 10px;
    font-weight: bold;
}
.loginInputDevBtn button:hover {
    opacity: 0.7;
}

.loginInputDevBtn button link {
    color: red;
}
.loginBtn_Mobile{
    display: none;
}

/* Mobile Width < 740px */
@media only screen and (max-width: 739px) {
    .loginBtn_Mobile{
        display: block;
    }
    .loginBtn{
        display: none;
    }
    .loginInput {
        margin-bottom: 33px;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    .loginInputDev {
        display: grid;
        width: 300px;
    }
    .loginInputDev input {
        margin-bottom: 1px;
        width: auto;
    }
    .loginInputDev label {
        padding-left: 0;
    }
    .loginInputDev {
        margin-top: 20px;
    }
    .loginInputDevBtn{
        margin-top: 20px;
    }
    .login {
        margin-top: 60px;
        margin-bottom: 0px;
        
    }
}
